
/*Colonnes*/

.black{ 
	background: $black; 
	p, h1, h2, h3, h4, h5, h6, li, a, a:link, a:visited, a:focus, a:hover{
		color:white;
	}
}

.white {background-color: white;}
.white, .black {
	padding: 50px 15px;
}

.checkers .title, .stripes .title{
	padding: 10px 20px;
    margin: 20px 20px 0;
    display: inline-block;
    background: hsla(0,0%,100%,.95);
}

.checkers .content, .stripes .content{
	padding: 10px 20px;
	margin: 20px;
	background: hsla(0,0%,100%,.95);
}

.sectioncol.checkers, .sectioncol.stripes {
	border-left:solid 5px white;
	border-right:solid 5px white;
	border-top:solid 10px white;
	border-bottom:solid 10px white;
}

.content {padding: 0 20px;}


@media (min-width: 1200px){
	.white .content, .black .content {width:1170px}
	.section2col .white .content, .section2col .black .content {width:585px;}
	.section2col .colnmb1.white .content, .section2col .colnmb1.black .content{float: right;} 
}





/*Partenaires*/

section.section.section_partners {
    padding: 20px 0;
}

#partner_logos {
    text-align: center;
    margin: auto;
}

.partenaire_inner {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 60%;
    margin: 0 20% 5px;
    height: 100px;
}



/*Repérages*/

li.reperage_box {
    list-style: none;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.3);
    padding: 20px 0 10px;
    margin-bottom: 30px;
    border-radius: $border-radius;
    font-size: 1em;
}

li.reperage_box .white {
	padding: 20px;
}

li.reperage_box  h3 {
    font-size: 2.3em;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    width: calc(100% - 120px);
    padding-bottom: 0;
}

.links {
    float: right;
    width: 120px;
    text-align: right;
}


.links a {
    font-size: 1.8em;
    background: black;
    color: white;
    display: inline-block;
    padding: 7px;
    border-radius: 7px;
    &:active, &:focus, &:visited, &:link {color:white;}
    &:hover {color: $primary-color;}
}

p.added {
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 10px;
}

.info-group {
	font-size: 1.5em;
	padding-bottom: 10px;
	span {
		margin-right: 10px;
	}
	span:before {
	    content: '|';
	    display: inline-block;
	    margin-right: 10px;
	}
	span:first-child:before {
		display: none;
	}
}

.description p {
    font-size: 1.8em;
    padding: 10px 0;
}

.contact {
    padding-top: 10px;
    span {
	    font-size: 1.5em;
	    margin-right: 15px;
	    i {
		    margin-right: 3px;
		}
	}
	.adresse {
		display: block;
		 p{
			font-size: 1em;
			display: inline-block;
		}

		i {
			vertical-align: top;
			top: 5px;
			position: relative;
		}
	}
}


aside {
    background: black;
    border-radius: 7px;
    padding: 20px;
    color: white;
}


